{% extends "base.html" %}

{% load static %}

{% block includes %}

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
  rel="stylesheet"
  integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
  crossorigin="anonymous">

<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}

{% block content %}
<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="cover-container">
            <div class="masthead clearfix">
                <div class="inner">
                    <div class="row">
                        <h3 class="masthead-brand col-4">Dev Refresh</h3>
                        <nav class="col-8">
                        <ul class="nav masthead-nav">
                            <li><a href="{% url 'index' %}">Home</a></li>
                            <li class="active"><a href="{% url 'about' %}">About</a></li>
                            <li><a href="{% url 'contact' %}">Contact</a></li>
                            <li><a href="{% url 'signup' %}">Sign up</a></li>
                        </ul>
                        </nav>
                    </div>
                </div>
            </div>

            <div class="inner cover">
                <h1 class="cover-heading mb-4">About us:</h1>
                <p class="lead">
                    The field of software development is constantly changing. To keep pace, we as software developers 
                    need to spend time continually learning new skills. If you think about it, the next promotion 
                    you’ve been seeking, or the respect of your co-workers, might depend on it.  In general, the more 
                    skilled a software developer, the faster and more accurately they can complete work. That’s why 
                    the most skilled developers are compensated at multiples of the average developer salary. And 
                    they are also given the most interesting projects at work, with the most authority to make 
                    technical decisions.
                </p>
                <p class="lead">
                    Software engineering is new relative to other engineering disciplines. Because it’s new, it’s 
                    also underdeveloped and therefore changes more often. The software skills you learned 5 or 10 
                    years ago may not be applicable today. This means software engineers have more incentive to 
                    make their learning efficient and effective.
                </p>
                <p class="lead">
                    The most effective way to learn new skills is through deliberate practice. Have you ever 
                    wondered why one person could pick up a new skill, for example chess, and quickly progress, 
                    while another person might spend the same amount of hours on it yet not get better? The 
                    answer lies in how each person approaches practicing and learning. And what about the people 
                    that progress the quickest? Most likely they are using deliberate practice.
                </p>
                <p class="lead">
                    So what’s deliberate practice, and how can it be applied to software development? 
                    Deliberate practice has well defined, specific learning goals. Deliberate practice always 
                    involves feedback. And most importantly, deliberate practice requires getting out of one’s 
                    comfort zone. Now you can see why most people don’t use deliberate practice: Most people will 
                    avoid the discomfort that’s required to grow. And most people aren’t attentive enough to set 
                    goals and use feedback. But if you really want to get better that’s what you need to do, and 
                    we’ll help you do it.
                </p>
                <p class="lead">
                    Our online learning platform currently has courses for the following languages: C/C++, 
                    Java, Python, HTML/CSS/Javascript, and Go. Courses for new languages are in the works, as 
                    well as courses for software development skills not related to a particular language. You 
                    can get access to our entire catalogue of learning materials for free during a risk-free 
                    30 day trial. After that, it’s only $40 per month.
                </p>
                <p class="lead">
                    <a href="#" class="btn btn-lg btn-default mt-4">Sign up</a>
                </p>
            </div>

            <div class="mastfoot">
                <div class="inner">
                    <p><em>&copy Copyright 2018 - 2019 Kelby Faessler, All rights reserved</em></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}



{% block scripts %}

<script
  src="https://code.jquery.com/jquery-1.12.4.min.js"
  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
  crossorigin="anonymous"></script>
<script 
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>

{% endblock %}